<title>Pregnancy Box Contents & Gift Ideas | The Mommy Box Company</title>
<meta content='The best pregnancy gift on the market - a monthly box solely for the pleasure and comfort of the pregnancy women.'>
<meta content='The Mommy Box Co.' property='og:title'>


  <div class="masthead clearfix">
    <div class="inner">
      <h3 class="masthead-brand">The Mommy Box Co</h3>
      <ul class="nav masthead-nav">
        <li><%= link_to "home", root_path %></li>
        <li class="active"><%= link_to "boxes", boxes_path %></li>
        <li><%= link_to "inspiration", inspire_path %></li>
        <li>
          <button class="btn btn-warning" data-toggle="modal" data-target="#myModal">Reserve Your Discount &raquo;</button>
        </li>
      </ul>
    </div>
  </div>
  <div class="container">
  <center><br><br><br>
    <div class="row">
    <div class="col-md-8 col-md-offset-2">
    <h1 style="font-size: 50px;">Get the skinny on our fat boxes <hr> </h1><br>
    </div>
    <div class="col-md-10 col-md-offset-1">
    <p class="lead">Each box is different, but every trimester has a theme. Explore each of the trimesters below to get an idea of what is included in the boxes. </p>
  </div>
  </center>
  </div>
<%= render 'layouts/trimesters' %>
