<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <%= render 'layouts/header' %>
    <div class="cover-container">
      <div class="inner cover">
      <br><br>
      <h1 style="font-size: 70px;"><strong>Contact the team</h1></strong>
      <div class="container">
      <p class="lead"> Let us know your thoughts! We want to be the best there is, so please give us your honest, un-censored feedback, criticism, or praise. Or, if you want advice or someone to just talk to about your pregnancy, we're here for that too!
      </p><br>
      </div>
        <div class="row">
        <div class="col-sm-10 col-sm-offset-2">
<!--contact form-->
<div id="wufoo-m1kr808y1pl7i5q">
Fill out my <a href="https://plonkerspopcorn.wufoo.com/forms/m1kr808y1pl7i5q">online form</a>.
</div>
<div id="wuf-adv" style="font-family:inherit;font-size: small;color:#a7a7a7;text-align:center;display:block;">The easy to use <a href="http://www.wufoo.com/form-builder/">Wufoo form builder</a> helps you make forms easy, fast, and fun.</div>
<script type="text/javascript">var m1kr808y1pl7i5q;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'plonkerspopcorn',
'formHash':'m1kr808y1pl7i5q',
'autoResize':true,
'height':'443',
'async':true,
'host':'wufoo.com',
'header':'hide',
'ssl':true};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { m1kr808y1pl7i5q = new WufooForm();m1kr808y1pl7i5q.initialize(options);m1kr808y1pl7i5q.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>

<!--end of contact form-->
      </div>
      </div>
      </div>
    </div>
  </div>
</div>
<!--end of cover page-->