<meta charset="UTF-8">
<meta http-equiv="refresh" content="5; url=http://themommybox.co">
<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">The Mommy Box Co</h3>
        </div>
      </div>
      <div class="inner cover">
      <br><br>
        <h1 class="cover-heading" style="font-size: 100px;">Thank You!</h1>
<!--        <p class="lead">Just confirm via email and we'll be sure to send you that discount when we launch!</p> -->
      </div>
      	<div class="mastfoot">
      		<p>This page will self destruct in 4 seconds...and redirect you to <a href='http://themommybox.co'>our front page.</a></p>
      	</div>
    </div>
  </div>
</div>
<script>
setTimeout(function () {
   window.location.href = "http://themommybox.co";}, 4000);
</script>
