<div style="background: #ecf0f1; color: #34495e;">
<div class="container">
<br><br><br><br>
  <div class="row">
    <div class="col-md-6">
      <h2>Pregnancy is hard</h2><br>
      <p class="lead">Most of what you hear about pregnancy is a load of rubbish. At The Mommy Box Company, we promise to give it to you honestly. Our boxes, and soon our website, contain all the details about what you can really expect from pregnancy.</p>
      <br><br>
    </div>
   <div class="col-md-6">
      <h2>We help you enjoy it.</h2><br>
      <p class="lead">The boxes we send out are tailored for each month of pregnancy; along with tons of information, each box contains essentials (think nausea candies & skin cream), and some very needed pampering (think bath salts and candy). </p><br><br>
   </div>
<!--     <div class="col-md-6">
      <h2>So you can be YOU</h2>
      <p class="lead"></p>
    </div>-->
  </div>
  <br>
</div>