<div class="container">
<br><br><br><br>
  <div class="row">
    <div class="col-md-4">
      <h2>The Beginning Trimester</h2><br>
      <p class="lead">The beginning</p><br><br>
    </div>
    <div class="col-md-4">
    	<h2>Second Trimester</h2><br>
    	<p class="lead"> Another Heading </p><br><br>
    </div>
   	<div class="col-md-4">
      <h2>Final Trimester.</h2><br>
      <p class="lead">The End </p><br><br>
  	</div>
  </div>
<!--     <div class="col-md-6">
      <h2>So you can be YOU</h2>
      <p class="lead"></p>
    </div>-->
  </div>
  <br>
