<div class="row" style="background: red;">
	<div class="col-sm-3 col-sm-offset-1">
	<h2>First Trimester</h2>
	</div>
	<div class="col-sm-3">
	<h2>Second Trimester</h2>
	</div>
	<div class="col-sm-3">
	<h2>Final Trimester</h2>
	</div>
</div>